

<ion-content [fullscreen]="true">
  <app-header [title]="'Product Selection'" [color]="'subscriber'"></app-header>
  <div class="mx-2">
    <div class="flex justify-between items-center my-3">
      <ion-text class="font-semibold font-grape-nuts text-5xl">Apples</ion-text>
      <div class="flex-col">
        <div class="flex justify-center items-center w-48 border-2  rounded-lg px-2">
          <ion-input max="10" min="0" type="number" placeholder="Enter value" type="number"></ion-input>
        </div>
      </div>
    </div>

    <div class="flex justify-between items-center my-3">
      <ion-text class="font-semibold font-grape-nuts text-5xl">Potatoes</ion-text>
      <div class="flex-col">
        <div class="flex justify-center items-center w-48 border-2  rounded-lg px-2">
          <ion-input max="10" min="0" type="number" placeholder="Enter value" type="number"></ion-input>
        </div>
      </div>
    </div>

    <div class="flex justify-between items-center my-3">
      <ion-text class="font-semibold font-grape-nuts text-5xl">Eggs</ion-text>
      <div class="flex-col">
        <div class="flex justify-center items-center w-48 border-2  rounded-lg px-2">
          <ion-input max="10" min="0" type="number" placeholder="Enter value" type="number"></ion-input>
        </div>
      </div>
    </div>

    <div class="flex justify-between items-center my-3">
      <ion-text class="font-semibold font-grape-nuts text-5xl">Carrots</ion-text>
      <div class="flex-col">
        <div class="flex justify-center items-center w-48 border-2  rounded-lg px-2">
          <ion-input max="10" min="0" type="number" placeholder="Enter value" type="number"></ion-input>
        </div>
      </div>
    </div>
  </div>

  <div class="mt-64">
    <div class="flex justify-around items-center mt-2">
      <div class="px-20 py-2 rounded-md font-lato text-black" style="background-color: #AFF4C6;">Continue to ordering</div>
    </div>

    <div class="flex justify-around items-center mt-2">
      <div class="px-20 py-2 rounded-md font-lato text-black" style="background-color: #AFF4C6;">Proceed to payment</div>
    </div>

  </div>
</ion-content>
