

<ion-content [fullscreen]="true">
  <app-header [title]="'Share Box'" [color]="'subscriber'"></app-header>
  <google-map height="400px"
  width="100%"
>
</google-map>

<div class="mx-2 mt-2">
  <span class="font-bold font-grape-nuts text-5xl">Contents</span>
  <p class="font-bold font-grape-nuts text-2xl">Apples,30 p</p>
  <p class="font-bold font-grape-nuts text-2xl">Mangoes,0 p</p>
  <p class="font-bold font-grape-nuts text-2xl">Oranges,60 p</p>
  <p class="font-bold font-grape-nuts text-2xl">Pineapples,60 p</p>
  <span class="font-bold font-grape-nuts text-5xl">Paid Forward items:</span>
  <p class="font-bold font-grape-nuts text-2xl">Carrots x5</p>


</div>

<div class="flex justify-center items-center mt-2 mx-4 rounded-md" style="background-color: #AFF4C6;">
  <p class="py-3 rounded-md font-lato text-black">See star reviews</p>
</div>
<div class="flex justify-center items-center mt-2 mx-4 rounded-md" style="background-color: #AFF4C6;">
  <p class="py-3 rounded-md font-lato text-black">Collecting paid forward item</p>
</div>
<div class="flex justify-center items-center mt-2 mx-4 rounded-md" style="background-color: #AFF4C6;">
  <p class="py-3 rounded-md font-lato text-black">Select honesty box</p>
</div>
</ion-content>
