

<ion-content [fullscreen]="true">
  <app-header [title]="'About Us'" [color]="'subscriber'"></app-header>

  <div class="mx-2 mt-3">
<p class="font-lato text-xl">
  Sharebox is the reliance of people providing fresh produce, selling it to people in the community for a honest price.
</p>
<p class="font-lato text-xl mt-4">
  Pay Forward Scheme:
</p>
<p class="font-lato text-xl">
  The Pay Forward Scheme involves the generosity of people paying forward items within the honesty boxes to support local people within the community who may not be able to afford the products.
</p>
  </div>

  <div class="flex justify-center items-center mt-64 mx-4 rounded-md" style="background-color: black;">
    <p class="py-3 rounded-md font-lato text-white">Logout</p>
  </div>
</ion-content>
