ion-header {
  text-overflow:clip !important;

  .toolbar {
    color: #fff;
    padding: 6px 0px;
    text-overflow:clip !important;

    &.subscriber {
      --background: #129476 !important;
    }


    ion-icon {
      zoom: 1.8;
    }
  }
}
