<ion-content [fullscreen]="true">
  <app-header [title]="'Profile'" [color]="'subscriber'"></app-header>

  <div class="flex flex-col justify-center items-center">
    <ion-text class="font-lato text-4xl mt-2 font-semibold">Your Order</ion-text>
    <ion-text class="font-grape-nuts text-3xl">Potatoas X3</ion-text>
    <ion-text class="font-grape-nuts text-3xl">Bag of Beans X3</ion-text>
  </div>

  <div class="flex flex-col justify-center items-center mt-3">
    <ion-text class="font-lato text-3xl mt-2 font-semibold">Your Paid Forward Order</ion-text>
    <ion-text class="font-grape-nuts text-3xl">Carrots X5</ion-text>
    <ion-text class="font-grape-nuts text-3xl">Total:  $1.45</ion-text>
  </div>

  <div class="flex justify-center items-center">
    <img src="../../assets/images/sub 5 1.png" alt="" srcset="">
  </div>
  <ion-text class="flex justify-center items-center font-lato text-2xl font-semibold"> Owner: Anthony Gallagher</ion-text>
  <div class="flex justify-center items-center mt-8 mx-4 rounded-md" style="background-color: #AFF4C6;">
    <p class="py-3 rounded-md font-lato text-black">Leave Star Review</p>
  </div>
  <div class="flex justify-center items-center mt-2 mx-4 rounded-md" style="background-color: #AFF4C6;">
    <p class="py-3 rounded-md font-lato text-black">Subscribe to Box</p>
  </div>
  <div class="flex justify-center items-center mt-2 mx-4 rounded-md" style="background-color: #AFF4C6;">
    <p class="py-3 rounded-md font-lato text-black">Proceed To Payment</p>
  </div>
</ion-content>
