<ion-content [fullscreen]="true">
  <div class="flex justify-center items-center">
    <img src="../../assets/images/logo.png" class="h-52" alt="">
  </div>
  <div class="ml-5 mr-5" [formGroup]="loginForm!">
    <div class="flex justify-center items-center">
      <p class="font-bold font-grape-nuts text-5xl text-green-600">Login</p>
    </div>
    <div class="col-span-12 mb-2 mt-2">
      <label class="block text-sm font-medium font-serif text-black font-lato">Email

        <span *ngIf="this.loginForm?.get('email')?.hasError('required')" class="text-red-400 text-2xl">*</span>
      </label>
      <input formControlName="email"
        class="mt-1 block w-full placeholder:font-sans rounded-md border border-gray-300 py-2 px-3 shadow-sm focus:border-indigo-500 focus:outline-none focus:ring-indigo-500 sm:text-sm placeholder:font-lato"
        placeholder="Enter Email Address">
    </div>

    <div class="col-span-12 mb-4">
      <label for="password" class="block text-sm font-medium font-serif text-black font-lato">Password
        <span *ngIf="this.loginForm?.get('password')?.hasError('required')" class="text-red-400 text-2xl">*</span>

      </label>
      <div class="flex">
        <input formControlName="password" [type]="!showPassword? 'password': 'text'" id="password" name="password"
          type="password" autocomplete="current-password" required
          class="mt-1 block w-full placeholder:font-sans rounded-md border border-gray-300 py-2 px-3 shadow-sm focus:border-indigo-500 focus:outline-none focus:ring-indigo-500 sm:text-sm"
          placeholder="Enter Password" />
        <div class="absolute right-8 mt-4">
          <a class="type-toggle" (click)="toggleShow()">
            <ion-icon class="show-option" size="small" [hidden]="showPassword" name="eye-off-outline"></ion-icon>
            <ion-icon class="hide-option" size="small" [hidden]="!showPassword" name="eye-outline"></ion-icon>
          </a>
        </div>
      </div>
    </div>

    <div (click)="login()" class="flex justify-around items-center mt-5">
      <div class="px-20 py-2 rounded-md font-lato text-white" style="background-color: #AFF4C6;">Login</div>

    </div>
  </div>
</ion-content>