

<ion-content [fullscreen]="true">
  <app-header [title]="'Subscriber page'" [color]="'subscriber'"></app-header>

  <div class=" mx-8 px-3 py-3 flex justify-center items-center mt-3" style="background-color: #AFF4C6;">
    <span class="font-lato text-black">Send Notifications to subscribers</span>
  </div>
  <ion-grid>
    <ion-row>
      <ion-col size="6">
        <img src="../../assets//images/sub 1.png" alt="" srcset="">
      </ion-col>
      <ion-col size="6" class="flex justify-center items-center">
        <span class="font-grape-nuts font-bold text-2xl">Ryan Mullen</span>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="6">
        <img src="../../assets//images/sub 5 1.png" alt="" srcset="">
      </ion-col>
      <ion-col size="6" class="flex justify-center items-center">
        <span class="font-grape-nuts font-bold text-2xl">Molly Mckeown</span>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="6">
        <img src="../../assets//images/sub2 1.png" alt="" srcset="">
      </ion-col>
      <ion-col size="6" class="flex justify-center items-center">
        <span class="font-grape-nuts font-bold text-2xl">Shannon Mcewan</span>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="6">
        <img src="../../assets//images/sub3 1.png" alt="" srcset="">
      </ion-col>
      <ion-col size="6" class="flex justify-center items-center">
        <span class="font-grape-nuts font-bold text-2xl">Bruce Dylan</span>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="6">
        <img src="../../assets//images/sub4 1.png" alt="" srcset="">
      </ion-col>
      <ion-col size="6" class="flex justify-center items-center">
        <span class="font-grape-nuts font-bold text-2xl">Cahir Coll</span>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
