<ion-content [fullscreen]="true">
  <app-header [title]="'Profile'" [color]="'subscriber'"></app-header>

  <div class="flex justify-center items-center">
    <img src="../../assets/images/sub 5 1.png" alt="">
  </div>

  <div class="flex justify-center items-center">
    <p>Welcome back Anthony</p>
  </div>
  <!-- <div>

  </div> -->
  <div class="flex justify-center items-center mt-2 mx-4 rounded-md" style="background-color: #AFF4C6;">
    <p class="py-3 rounded-md font-lato text-black">View Subscribers</p>
  </div>
  <div class="flex justify-center items-center mt-2 mx-4 rounded-md" style="background-color: #AFF4C6;">
    <p class="py-3 rounded-md font-lato text-black">Send Notofications to subscribers</p>
  </div>
  <div class="flex justify-center items-center mt-2 mx-4 rounded-md" style="background-color: #AFF4C6;">
    <p class="py-3 rounded-md font-lato text-black">Edit Honesty Box Description</p>
  </div>
  <div class="flex justify-center items-center mt-2 mx-4 rounded-md" style="background-color: #AFF4C6;">
    <p class="py-3 rounded-md font-lato text-black">Your personalized QR Code</p>
  </div>
  <div class="flex justify-center items-center mt-2 mx-4 rounded-md" style="background-color: #AFF4C6;">
    <p class="py-3 rounded-md font-lato text-black">Paid Forward Items</p>
  </div>
  <div class="flex justify-center items-center mt-2 mx-4 rounded-md" style="background-color: #AFF4C6;">
    <p class="py-3 rounded-md font-lato text-black">Collected Paid Forward Items</p>
  </div>
  <div class="flex justify-center items-center mt-2 mx-4 rounded-md" style="background-color: #AFF4C6;">
    <p class="py-3 rounded-md font-lato text-black">Find Honesty Box</p>
  </div>
  <div class="flex justify-center items-center mt-2 mx-4 rounded-md" style="background-color: #AFF4C6;">
    <p class="py-3 rounded-md font-lato text-black">About Us</p>
  </div>
  <div class="flex justify-center items-center mt-2 mx-4 rounded-md" style="background-color: #AFF4C6;">
    <p class="py-3 rounded-md font-lato text-black">Account Management</p>
  </div>
  <div class="flex justify-center items-center mt-2 mx-4 rounded-md" style="background-color: #000000;">
    <p class="py-3 rounded-md font-lato text-white">Logout</p>
  </div>

</ion-content>
