<ion-content [fullscreen]="true">
  <app-header [title]="'Notify Subscribers'" [color]="'subscriber'"></app-header>

  <div class="mx-2">
    <ion-textarea
    [autoGrow]="true"
    class="border-2 rounded-lg my-2 px-1"
     placeholder="Add your comments here">
          </ion-textarea>

  </div>
  <div class="flex justify-center items-center mt-64 mx-4 rounded-md" style="background-color: #AFF4C6;">
    <p class="py-3 rounded-md font-lato text-black">Send Notifications</p>
  </div>
</ion-content>
